@import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css";
html {
  margin: 10px 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen (min-width: 992px) {
  body {
    width: 100vw;
  }
}
html::selection {
  background-color: #20c997;
}
*::selection {
  background-color: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
[hidden], .hidden {
  display: none !important;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
header, section, footer {
  padding: 20px 20px;
}
#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#spinner {
  animation: rotate 0.5s infinite linear;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-bottom: 2px solid #0a0a0a;
  border-radius: 50%;
  margin: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
a:link {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.card, details {
  max-width: 500px;
  font-family: arial, sans-serif;
  margin: auto;
}
.card {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

/* Codes */
code, pre {
  font-size: 12px;
  overflow-x: auto;
}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 400px) {
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

table {
  font-family: Arial, Helvetica, Sans-Serif;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  table-layout: fixed;
}
table tr:hover {background-color: #ddd;}
table td, table th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 4px 4px;
  letter-spacing: 1px;
  width: 50%;
}
thead th {
  font-family: Times New Roman;
  background-color: #00ffff;
}
tbody th {
  font-weight: 400;
  font-family: Trebuchet MS;
}
table tr:nth-child(even) {
  background-color: #ddd;
}
table td:nth-child(odd) {
  width: 25%;
}
table td:nth-child(even) {
  width: 50%;
}
