@import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css";
html {
  margin: 10px 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media screen (min-width: 992px) {
  html {
    width: 100vw;
  }
}
html::selection {
  background-color: #20c997;
}
*, *::before, *::after {
  box-sizing: inherit;
  scroll-behavior: inherit;
}
*::selection {
  background-color: inherit;
}
body {
  padding: 10px 10px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
[hidden], .hidden {
  display: none !important;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
header, section, footer {
  padding: 20px 20px;
}
a:link {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.card, details {
  max-width: 500px;
  font-family: arial, sans-serif;
  margin: auto;
}
.card {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
code, pre {
  font-size: 12px;
  overflow-x: auto;
}
code {
  font-family: Consolas;
  padding: 2px;
}
pre {
  margin: 0px -10px;
  padding: 20px 20px;
}
pre {
  color: #404040;
  background-color: #fff;
  border: 1px solid #9299a0;
}
table {
  font-family: Arial, Helvetica, Sans-Serif;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  table-layout: fixed;
}
table tr:hover {background-color: #ddd;}
table td, table th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 4px 4px;
  letter-spacing: 1px;
  width: 50%;
}
thead th {
  font-family: Times New Roman;
  background-color: #00ffff;
}
tbody th {
  font-weight: 400;
  font-family: Trebuchet MS;
}
table tr:nth-child(even) {
  background-color: #ddd;
}
table td:nth-child(odd) {
  width: 25%;
}
table td:nth-child(even) {
  width: 50%;
}
